<html>
<head>
<title>BoltView</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <p>{{range .Buckets}} <p> {{.}} </p> {{end}}</p>
    <p>{{range .Keys}} <p> {{.}} </p> {{end}}</p>
    <!-- TODO this should print bucket names, then separately bucket contents -->

</body>
</html>
